.back {
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
	border: none;
	display: block;
	padding: 7px 25px;
	cursor: pointer;
	margin: 40px;
	border-color: rgb(109, 109, 109);
	border-radius: 5px;
}

.link-to-home {
	color: black;
	text-decoration: none;
}

.flag-container {
	display: flex;
	justify-content: center;
	position: relative;
}

#flag {
	position: absolute;
	width: 500px;
	height: 300px;
}

.list {
	display: flex;
}

.list ul {
	list-style: none;
	margin: 0 40px;
}

.list ul li {
	margin: 5px 0;
}

.bold-span {
	font-weight: 800;
}

#btns {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#btns a {
	text-decoration: none;
	color: #000;
}

.neighbours {
	margin: 20px auto;
}

.neighbour {
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
	border: none;
	padding: 7px 25px;
	margin: 3px 5px;
	border-radius: 5px;
	cursor: pointer;
}

@media only screen and (max-width: 600px) {
	.info-container {
		position: relative;
		top: 350px;
	}

	.list {
		display: block;
	}

	.list ul {
		width: 100%;
		margin: 20px 40px !important;
	}

	#flag {
		width: 90% !important;
	}
}

@media only screen and (max-width: 1000px) {
	.list ul {
		list-style: none;
		margin: 0 10px;
	}

	#flag {
		width: 350px;
	}
}
