#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 70px;
	box-shadow: 0 8px 7px -7px rgba(0, 0, 0, 0.4);
	margin-bottom: 5px;
}

#header h3 {
	margin-left: 60px;
	margin-right: 10px;
}

#header div {
	margin-left: 10px;
	margin-right: 60px;
	text-align: right;
}

#theme-switcher {
	width: 16px;
}
