@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;800&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Nunito Sans", sans-serif;
	background-color: hsl(0, 0%, 98%);
}

@media only screen and (max-width: 450px) {
	#header h3 {
		margin-left: 20px;
		margin-right: 10px;
	}

	#header div {
		margin-left: 10px;
		margin-right: 20px;
	}
}
